<style>
    .app-navigation {
    flex-grow: 1;
}

.app-layout .app-navigation .mdl-navigation__link {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
}

.app-layout .app-navigation .mdl-navigation__link:hover {
    background-color: #00BCD4;
    color: #37474F;
}

.app-navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 32px;
}
</style>
<div class="mdl-layout__header-row">
    <span class="mdl-layout-title">Sistema de Gestión Administrativo</span>
    <div class="mdl-layout-spacer"></div>
    <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
            <i class="material-icons">Buscar</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" id="search" />
            <label class="mdl-textfield__label" for="search">Buscar...</label>
        </div>
    </div>-->
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
        <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
        <li disabled class="mdl-menu__item">Acerca de</li>
        <li class="mdl-menu__item" onclick="window.open('http://www.scoutsvenezuela.org.ve/soporte/?v=submit_ticket');" >Soporte</li>
    </ul>
</div>